<!-- views/bmis/index.ejs -->
<%- include('../partials/header.ejs') %> 


<ul>
  <% bmis.forEach((bmi) => { %>
  <li>
    <a href="/bmis/<%= bmi._id %>">A bmi <%= bmi.bmi %> owned by <%= bmi.owner ? bmi.owner.username : 'unknown' %>.</a>
    <% if (bmi.owner?._id.equals(user._id)) { %>
    <a href="/bmis/<%= bmi._id %>/edit">Edit BMI</a>
    <% } %>
  </li>
  <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>
