<%- include('../partials/header.ejs') %>

<h2>Details</h2>
<p>weightLbs: <%= bmi.weight %> lbs</p>
<p>heightFeet: $<%= bmi.height %>feet</p>
<p>heightInches: <%= bmi.height %>inches</p>
<p>Added on: <%= bmi.createdAt.toLocaleDateString() %></p>
<h2>Owner</h2>
<% if (bmi.owner?._id.equals(user?._id)) { %>
<p>Your BMI record!</p>
<% } else { %>
<p>Sorry, you don't have access</p>
<% } %> <% if (isEdited) { %>
<p>This is an adited record of yours</p>
<% } else if (user) { %>
<form action="/bmis/<%= bmi._id %>/edited" method="POST">
  <button type="submit">Add to Edited</button>
</form>
<% } %> <%- include('../partials/footer.ejs')%>