<%- include('../partials/header') %>

<section>
  <h1>Your BMI Records</h1>
  <table>
    <thead>
      <tr>
        <th>Weight</th>
        <th>Height</th>
        <th>BMI</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% bmiData.forEach(data => { %>
        <tr>
          <td><%= data.weight %></td>
          <td><%= data.height %></td>
          <td><%= data.bmi %></td>
          <td>
            <form method="POST" action="/bmi/<%= data._id %>?_method=DELETE">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</section>

<%- include('../partials/footer') %>

